.conteiner{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 639px;
  height: 639px;
  background: #E6FFE2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.text{
  margin-top: 15px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #07C86B;
  text-shadow: 2px 0px 0.1px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.Kiwii {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Kiwii {
    animation: Kiwii infinite 15s linear;
  }
}
@keyframes Kiwii {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formLogon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textInput{
  font-size: 28px;
  color: #603813;
  margin-bottom: 5px;
  margin-top: 5px;
}
.inputID{
  top: 5px;
  width: 274px;
  height: 35px;
  background: #FBFBFB;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.buttonLogon{
  width: 283px;
  height: 57px;
  background: #07C86B;
  color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5px;
}

.linkLogon{
  color: #07C86B;
  margin-bottom: 10px;
}
